table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.admin_user_css{
    display: grid;
    grid-gap: 20px;
}

.admin_blog_css{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
